.level1-heading {
  padding: 30px 10px;
  background-color: #e25c00;
  color: #fff;
  font-size: 1.75rem;
  text-align: center;
}

.level1-heading__inner {
  position: relative;
  display: inline-block;
  transform: translateY(-20%);
}

.level1-heading__inner::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 80px;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.level2-heading {
  padding-bottom: 10px;
  border-bottom: 4px solid #e25c00;
  font-size: 1.75rem;
  font-weight: bold;
}

.level3-heading {
  padding-bottom: 6px;
  border-bottom: 2px solid #e25c00;
  font-size: 1.5rem;
  font-weight: bold;
}

.level4-heading {
  padding-left: 6px;
  border-left: 2px solid #e25c00;
  font-size: 1.25rem;
  font-weight: bold;
}