

.eq_elmTtl {
  padding: 15px 20px;
  background-color: #d40152;
  color: #fff;
  font-size: 1.25rem;
  text-align: left;
}

.uq_elmTtl02 {
  padding: 10px 20px;
  background-color: #e25c00;
  color: #fff;
  font-size: 1.1rem;
  text-align: left;
}
