/* 베이스
  ======================================== */

body {
  font-family: sans-serif;
}

/* 레이아웃
  ======================================== */

.ly_cont {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* 모듈
  ======================================== */

.bl_module {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
}

.bl_module .image-wrapper {
  flex: 1 1 25%;
  margin-right: 3.33333%;
}

.bl_module .image-wrapper img {
  width: 100%;
  vertical-align: top;
}

.bl_module .body {
  flex: 1 1 68.33333%;
}

.bl_module .title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.bl_module .sub-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border-bottom: 1px solid #555;
}

.bl_module .body>span {
  color: #555;
  font-size: 14px;
}