#main .btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

#main .general {
  background-color: #e25c00;
  color: #fff;
}

#main .warning {
  background-color: #f1de00;
  color: #222;
}