.bl_accordion_body + dt {
  margin-top: 20px;
}

.bl_accordion_btn {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 40px 10px 15px;
  background-color: #e25c00;
  border: 2px solid #e25c00;
  color: #fff;
  font-size: 1.125rem;
  text-align: left;
  cursor: pointer;
  transition: .25s;
}

.bl_accordion_btn::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: currentColor;
  transform: translateY(-50%);
}

.bl_accordion_btn::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  display: block;
  width: 2px;
  height: 20px;
  background-color: currentColor;
  transform: translateY(-50%);
}

.bl_accordion_btn:focus,
.bl_accordion_btn:hover {
  background-color: #fff;
  color: #e25c00;
}

.bl_accordion_btn.is_active::after {
  content: none;
}

.bl_accordion_body {
  display: none;
  padding: 15px;
  border: 1px solid #ddd;
}

.bl_accordion_body > *:first-child {
  /* css-wipe에는 스타일링 없음 */
}

.bl_accordion_body > *:last-child {
  margin-bottom: 0;
}

.bl_accordion_body.is_active {
  display: block;
}

.bl_accordion_txt {
  margin-bottom: 20px;
}
