.bl_vertPosts {
  /* css-wipe에는 스타일링 없음 */
}

.bl_vertPosts_item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.bl_vertPosts_item:first-child {
  padding-top: 0;
}

.bl_vertPosts_header {
  margin-bottom: 10px;
}

.bl_vertPosts_date {
  font-size: .875rem;
}

.bl_vertPosts_ttl {
  text-decoration: none;
}

.bl_vertPosts_ttl:focus,
.bl_vertPosts_ttl:hover {
  text-decoration: underline;
}
