.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.card__img-wrapper {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.card__img {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.card__body {
  padding: 15px;
}

.card__body > *:last-child {
  margin-bottom: 0;
}

.card__title {
  margin-bottom: 5px;
  font-size: 1.125rem;
  font-weight: bold;
}

.card__text {
  color: #777;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards--col3 {
  margin-bottom: -30px;
}

.cards--col3 > .cards__item {
  width: 31.707%;
  margin-right: 2.43902%;
  margin-bottom: 30px;
}

.cards--col3 > .cards__item:nth-of-type(3n) {
  margin-right: 0;
}


.cards--col4 {
  margin-bottom: -20px;
}

.cards--col4 > .cards__item {
  width:  23.78%;
  margin-right: 1.62602%;
  margin-bottom: 20px;
}

.cards--col4 > .cards__item:nth-of-type(4n) {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .cards--col3,
  .cards--col4 {
    margin-bottom: -20px;
  }

  .cards > .cards__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
