.bl_horizTable {
  border: 1px solid #ddd;
}

.bl_horizTable table {
  width: 100%;
}

.bl_horizTable th {
  width: 20%;
  padding: 15px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.bl_horizTable td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.bl_horizTable tr:last-child th,
.bl_horizTable tr:last-child td {
  border-bottom-width: 0;
}
