.vertical-table {
  border: 1px solid #ddd;
}

.vertical-table__inner {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.vertical-table__header-row {
  background-color: #efefef;
}

.vertical-table__header {
  padding: 15px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  vertical-align: middle;
}

.vertical-table__text {
  padding: 15px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.vertical-table__header:last-child, 
.vertical-table__text:last-child {
  border-right-width: 0;
}

.vertical-table__body-row:last-child .vertical-table__text {
  border-bottom-width: 0;
}

@media screen and (max-width: 768px) {
  .vertical-table {
    border-right-width: 0;
    overflow-x: auto;
  }
  .vertical-table__inner {
    width: auto;
    min-width: 100%;
  }
  .vertical-table__header, 
  .vertical-table__text {
    white-space: nowrap;
  }
  .vertical-table__header:last-child, 
  .vertical-table__text:last-child {
    border-right-width: 1px;
  }
}