.el_btn {
  display: inline-block;
  width: 300px;
  max-width: 100%;
  padding: 20px 10px;
  background-color: #e25c00;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: .25s;
}

.el_btn:focus,
.el_btn:hover {
  background-color: #fff;
  border-color: currentColor;
  color: #e25c00;
}


.ly_header {
  padding-top: 20px;
  border-bottom: 1px solid #ddd;
}

.ly_header_inner {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bl_headerUtils {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.bl_headerUtils_logo {
  width: 150px;
}

.bl_headerUtils .el_btn {
  width: auto;
  padding: 10px 20px;
  box-shadow: none;
}

.bl_headerNav {
  display: flex;
  justify-content: space-around;
}

.bl_headerNav_item {
  flex-grow: 1;
  text-align: center;
}

.bl_headerNav_item:last-child .bl_headerNav_link::after {
  content: none;
}

.bl_headerNav_link {
  position: relative;
  display: block;
  padding: 15px 5px;
  border-bottom: 4px solid transparent;
  color: #222;
  text-decoration: none;
  transition: .25s;
}

.bl_headerNav_link:focus, .bl_headerNav_link:hover {
  border-bottom-color: #e25c00;
}

.bl_headerNav_link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 20px;
  background-color: #ddd;
  transform: translateY(-50%);
}